{% extends 'header.html.twig' %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/list_game_style.css") }}">
{% endblock %}

{% block body %}
    {{ parent() }}
    {% set array = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', "EOT"] %}
    {% for a in array %}

        {% set arrayGames = ShowAllGamesByLetter(a , games) %}
        {% if isNotEmptyArray(arrayGames) %}
            <div class="in_line_games">
            <p class="letter">{{ a }}</p>
                <div class="container_games">
                    {% for game in arrayGames %}
                         <a href="{{ path('app_one_game', {platform: game.getPlatform(), id: game.getId()}) }}"><img class="{{ getClass(game.getPlatform()) }}" src="{{ game.getImageUrl() }}"/></a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}


    {% endfor%}

    {% for game in games %}
        
    {% endfor %}

{% endblock %}