{% extends 'header.html.twig' %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/individual_game_style.css") }}">
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="game">
    <div class="desc">
        <img src="{{ game.imageUrl }}" class="img_game" alt="image du jeu">
        <div class="desc_text">
            <h3>{{ game.name }}</h3>
            <p class="description">{{ game.description }}</p>
            <p>Platforme : {{ game.platform }}</p>
            <p>Date de sortie en france : {{  dateToString(game.releaseDate) }} </p>
            {% if session.get('isConnected') %}
                {% if haveGame %}
                   <img class="plus_minus" src=" {{ asset('img/minus.png') }}" alt="plus" onclick="window.location.href='{{ path('app_delete_game', {platform: game.platform, id: game.id}) }}'"/>

                {% else %}
                    <img class="plus_minus" src=" {{ asset('img/plus.png') }}" alt="minus" onclick="window.location.href='{{ path('app_add_game', {platform: game.platform, id: game.id}) }}'"/>
                {% endif %}
            {% endif %}
        </div>
    </div>

{% endblock %}